<div class="quizz_container">
    <div class="quizz_logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h3>{{ titulo }}</h3>
    </div>

    <div 
        *ngIf=!terminou
        class="quizz_perguntas"
    >
        <h3>{{ perguntaAtual.question }}</h3>
    </div>

    <div 
        *ngIf=!terminou
        class="quizz_options"
    >
        <button 
            *ngFor="let opcao of perguntaAtual.options"
            (click)="botaoEscolhido(opcao.alias)"
            class="btn-opcao"
        >
            {{ opcao.name }}
        </button>
    </div>

    <div 
        *ngIf=terminou
        class="quizz_resultado"
    >
        <h1>O resultado é:</h1>
        <p>{{ respostaEscolhida }}</p>
    </div>
</div>